.emailInputContainer{
    background: black;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 20rem;
    height: 20rem;
    padding: 20px;
    z-index: 9999;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.emailInputContainer p{
    color: white;
}