body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.file{
  text-align: left;
  width: 100%;
}

.title{
font-weight: bold;
height: 105px;

}
.sub{
  width: 280px;
  height: 45px;
}
.cartas{
  background-color: rgb(129, 113, 113);
  width: 20%;
  padding: 20px;
  
}

.contenido{
  height: 130px;
}

.boton{
  background-color: #8b8b8b;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
}

.body{
  width: 280px;
  height: 70px;

}

.imagen{
  width: 100%;
  height: 190px;
  margin-bottom: 5px;
}

.stock{
  font-weight: bold;
  font-size: 10px;
}
